<div class="container" *ngIf="game_state">
      <modal [content]="modal_data" *ngIf="show_modal" (closeModal)="closeModal($event)"></modal>
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <div class="opponent">
          <h3>Resources: {{game_state.opp.resources}}</h3>
          <div class="draw_deck_wrap">
            <div style="position:relative">
              <img class="card" src="http://www.cardgamedb.com/deckbuilders/starwarsdestiny/swd-cardback.png"
                   [ngStyle]="{
                     'width': card_width + 'px',
                     'height': card_height + 'px'
                   }"/>
              <div class="card_overlay"
               [ngStyle]="{
                    'top': (card_height * 0.857) + 'px'
               }">{{game_state.opp.draw_deck_size + ' cards'}}</div>
            </div>
          </div>
          <card *ngFor="let card_num of [1,2,3,4,5,6,7,8,9,10] | slice:0:game_state.opp.hand_size; let i = index"
               [width]="card_width" [height]="card_height" back="yes"></card>
       </div>
        <div>
          <h2>{{game_state.player.name}}</h2>
          <h3>Dice Pool</h3>
          <ul>
            <li *ngFor="let char of game_state.player.characters">
          </ul>
          <h3>Characters</h3>
          <div class="all_character_wrap" [ngStyle]="{'height':(2.6*card_height) + 'px'}">
            <div style="border:1px solid black" class="character_wrap"
		 *ngFor="let char of game_state.player.characters; let i = index" [ngStyle]="{'left': (i*(1.333*card_width)) + 'px'}">
              <div>
                <card style="border:1px solid blue" [card]="char.card" [state]="char.state" [width]="card_width" [height]="card_height" [overlay]="'Damage: ' + char.damage + '  Shields: ' + char.shields"></card>
              </div>
              <div>
                <card style="border:1px solid blue" *ngFor="let upgrade of char.upgrades" [card]="upgrade.card" [width]="card_width" [height]="card_height" [left]="i*(-0.8*card_width) + 'px'" [top]="i*(0.142*card_height) + 'px'"></card>
              </div>
            </div>
            <div style="border:1px solid green" class="character_wrap" *ngFor="let support of game_state.player.supports" [ngStyle]="{'left': player.characters.length*(-card_width) + 'px'}">
              <div>
                <card style="border:1px solid blue" [card]="support.card" [width]="card_width" [height]="card_height"></card>
              </div>
              <div class="card_wrap" style="margin: 2px" [ngStyle]="{'height': card_height + 6 + 'px'}">
              </div>
            </div>
          </div>
          <h3>Hand</h3>
          <div class="draw_deck_wrap">
            <div style="position:relative">
              <img class="card" src="http://www.cardgamedb.com/deckbuilders/starwarsdestiny/swd-cardback.png"
                   [ngStyle]="{
                     'width': card_width + 'px',
                     'height': card_height + 'px'
                   }"/>
              {{game_state.player.draw_deck_size + ' cards'}}
            </div>
          </div>
          <card *ngFor="let card of game_state.player.hand" [card]="card" [width]="card_width" [height]="card_height"></card>
                    <h3>Resources: {{game_state.player.resources}}</h3>
      </div>
      <div class="page-header">
        <h1>Chat Example</h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header">Local Users</li>
	    <li *ngFor="let user of roster" ng-bind="user">
            </li>
          </ul>
        </div>
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
                <th class="span7">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let msg of messages">
                <td class="span2" ng-bind="msg.name"></td>
                <td class="span7" ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name"></div>
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Message">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
