body {
    padding-top: 60px;
}

.character_wrap {
    display: inline-block;
    position: relative;
    min-height: 310px;
}

.draw_deck_wrap {
    position: relative;
    display: inline-block;
    border: 3px solid rgba(0,0,0,0);
}

.card_wrap {
    position: relative;
    display: inline-block;
    transition: width 0.25s, transform 0.25s;
    z-index: 1;
}

.card {
    position: relative;
    display: block;
    margin: auto;
}

.card_wrap:hover {
    transform: scale(1.5);
    z-index: 2;
}

.card_wrap.exhausted {
    transform: rotate(90deg) scale(1);
}

.card_wrap.exhausted:hover {
    transform: rotate(90deg) scale(1.5);
}

.card_overlay {
    position: absolute;
    left: 5px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
}

.modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%;
    /* Default */
    /* Center the dialog */
    min-height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #ddd;
    box-shadow: 4px 4px 80px #000;
}

.modal_option {
    cursor: pointer;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 2px;
}